@model Booking
@{
    ViewData["Title"] = "Hotel Search";
}
<header>
    <!-- Navbar -->
    <!-- Background image -->
    <div class="text-center bg-image BookingImage">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2>Hotel Search</h2>
                    @using (Html.BeginForm("FilterHotels", "Booking", FormMethod.Get))
                    {
                        <div class="d-flex">
                            <div class="form-group p-3">
                                <label asp-for="DateFrom" class="form-label">Check-in Date:</label>
                                <input type="date" asp-for="DateFrom" class="form-control">
                                <span asp-validation-for="DateFrom" class="text-danger"></span>
                            </div>
                            <div class="form-group p-3">
                                <label asp-for="DateTo" class="form-label">Check-out Date:</label>
                                <input type="date" asp-for="DateTo" class="form-control">
                                <span asp-validation-for="DateTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex" style="justify-content: space-around;">
                            <div class="form-group p-3">
                                <label asp-for="Adult" class="form-label">Adults:</label>
                                <input type="number" asp-for="Adult" Value="1" class="form-control">
                                <span asp-validation-for="Adult" class="text-danger"></span>
                            </div>
                            <div class="form-group p-3">
                                <label asp-for="Children" class="form-label">Children:</label>
                                <input type="checkbox" id="ChildrenCheck"/>
                                <input type="number" asp-for="Children" min="0" class="form-control" disabled placeholder="check for child">
                            </div>
                        </div>

                        <button class="btn btn-outline-light btn-lg " type="submit">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        if ($("#ChildrenCheck").prop("checked")) {
            $("#Children").prop("disabled", false);
        }
        $("#ChildrenCheck").change(function () {
            $("#Children").prop("disabled", !$(this).prop("checked"));
        });
    });
</script>