@model GrotHotelApi.Models.Hotel

@{
    ViewData["Title"] = "Create";
}
<div>
    <h3 class="text-primary">Add Hotel</h3>
    <hr />
</div>
<div class="row bg-light p-2 rounded">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Hotel" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="HotelId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="HotelName" class="control-label"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildAgeRange" class="control-label">Age Range</label>
                <input asp-for="ChildAgeRange" class="form-control" />
                <span asp-validation-for="ChildAgeRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelImageFile" class="control-label">Hotel Image</label>
                <input asp-for="HotelImageFile" class="form-control" type="file" />
                <span asp-validation-for="HotelImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="width: 100%; height: 100px;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group p-1">
                <input type="submit" value="Add" class="createButton mt-1 w-auto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}