html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.popBlackDate {
    border: 1px solid black;
    margin: auto;
    text-align: center !important;
    width: 400px !important;
    height: 350px;
    background-color:#fff;
    position:fixed;
    left:35%;
    top:25%;
}
.closepopBlackOut{
    position:absolute;
    right:0px;
    border-color:lightgray;
}
.BookingImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 400px;
}
.mask {
    background-color: rgba(0, 0, 0, 0.6) !important;
    height:100%;
}