@model LoginUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - GrotHotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body style="background-color:aliceblue;">
    <div class="text-center mt-2">
    <img src="/Images/grothotel-high-resolution-logo-transparent.png" width="200" />
    </div>
    <div class="container shadow p-3 mb-5 bg-white rounded" style="margin-top:60px">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/83916/s960_hotel_booking.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Login" method="post">
                    <div class="form-outline mb-4">
                        <input asp-for="Username" class="form-control form-control-lg"
                               placeholder="Enter username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <label class="form-label" asp-for="Username">Username</label>
                    </div>

                    <div class="form-outline mb-3">
                        <input asp-for="Password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label class="form-label" asp-for="Password">Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? 
                            <a asp-action="Register" class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>